@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Montserrat&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 96px 109px 64px 129px;
}
.box-container {
  padding: 79px 175px 78px 160px;
  border-radius: 0px 24px 0px 50px;
  display: inline-block;
  background: #9fffec;
  border-radius: 129px 20px 20px 20px;
}
.box-container h1 {
  width: 819px;
  color: var(--TEXT-CLR, #5e6282);
  text-align: center;
  font-family: Open Sans;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 163.636% */
}
.box-container img:first-child {
  width: 70px;
  height: 70px;
}
.image-container {
  position: absolute;
  top: -16px;
  right: 0;
}
.relative-container {
  width: 1170px;
  position: relative;
  margin-bottom: 170px;
}
.flex-container {
  display: flex;
}
.flex-container-2 {
  margin-top: 75px;
  padding: 25px 0 25px 31px;
  width: 421px;
  display: flex;
  border-radius: 10px;
  background: var(--white, #fff);
}
.flex-container-2 img:first-child {
  width: 21px;
  height: 18px;
}
.flex-container-2 p {
  margin-left: 14px;
  color: var(--TEXT-COLOR, #39425d);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-container p {
  margin-top: 80px;
  margin-left: 24px;
  padding: 22px 50px 23px 50px;
  border-radius: 10px;
  background-color: #00a651;
  display: inline-block;
  color: var(--white, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-container .main-box{
  display: flex;
  justify-content: space-between;
}
.position-container {
  /* position: absolute; */
}
.main-container h2 {
  margin-bottom: 25px;
  /* margin-left: 40px; */
  color: #000;
  font-family: Laila;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}
.position-container h2{
  margin-left: 40px;
}
.main-container p {
  color: var(--TEXT-CLR, #5e6282);
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 124.5%;
}
ul  h2{
  margin-bottom: 47px;
}


 ul li  {
  margin-bottom: 23px;
  list-style-type: none;
  color: var(--TEXT-CLR, #5e6282);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%;
}




.last-container p {
  /* margin-right: 160px; */
  margin-bottom: 22px;
  margin-top: 37px;
  color: var(--TEXT-CLR, #5e6282);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%;
  letter-spacing: 0.1px;
}
.last-container .circle-box img:first-child {
  width: 58px;
  height: 58px;
}
.last-container .circle-box img:nth-child(2) {
  width: 63px;
  height: 63px;
}
.last-container  .circle-box img:nth-child(3) {
  /* margin-right: 150px; */
  width: 58px;
  height: 58px;
}

.footer-box p {
  margin-top: 120px;
  margin-bottom: 64px;
  text-align: center;
  color: var(--TEXT-CLR, #5e6282);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%;
}
.flex-box {
  display: flex;
}
.flex-box-2 {
  margin-right: 22px;
  margin-left: 22px;
}
.flex-box-3 {
  margin-right: 22px;
}
.flex-box-4 {
  margin-left: 22px;
  margin-right: 22px;
}
.flex-box-5 {
  margin-right: 22px;
}
.circle-box {
  display: flex;
}